<script lang="ts">
	import { basisInitialize, WasmModule } from 'playcanvas';
	import { appStarted } from '$lib/store';
	import { onMount } from 'svelte';
	import type { IShot } from '../types/interface';
	import Viewer from './viewer/viewer';
	export let shotData: IShot;
	export let collections;
	export let xr: boolean;
	// export let multiframe: boolean;
	export let multisample: boolean;
	export let menu: boolean;
	let pcCanvas: HTMLCanvasElement;
	let dWrapper: HTMLDivElement;
	let viewer: Viewer;
	let resizeObserver: ResizeObserver;
	let resizeTimer;
	$: shotData, updateShotData();
	$: $appStarted ? (console.info('App has started', $appStarted), updateShotData()) : null;
	$: xr, handleXR();
	// $: menu, handleMenu();

	// $: multiframe, handleMultiFrame();
	$: multisample, handleMultiSample();

	basisInitialize({
		glueUrl: '/d/lib/basis/basis.wasm.js',
		wasmUrl: '/d/lib/basis/basis.wasm.wasm',
		fallbackUrl: '/d/lib/basis/basis.js',
		lazyInit: true
	});

	WasmModule.setConfig('DracoDecoderModule', {
		glueUrl: '/d/lib/draco/draco.wasm.js',
		wasmUrl: '/d/lib/draco/draco.wasm.wasm',
		fallbackUrl: '/d/lib/draco/draco.js'
	});

	function updateShotData() {
		if (!viewer) {
			console.info('No Viewer');
			return;
		}

		if (!shotData) {
			console.info('No ShotData');
			return;
		}
		if (!viewer.shotHandler) {
			console.info('No Shot Handler');
			return;
		}
		viewer.shotHandler.shotData = shotData;
		viewer.shotHandler.applyShot();
	}

	function handleXR() {
		console.info('Starting XR');
		if (!viewer) {
			return;
		}
		viewer.startXr();
	}

	// function handleMultiFrame() {
	// 	if (!viewer) {
	// 		return;
	// 	}
	// 	viewer.handleMultiframe(multiframe);
	// }

	function handleMultiSample() {
		if (!viewer) {
			return;
		}
		viewer.handleMultisample(multisample);
	}

	//function handleMenu() {
	//	if (!viewer) {
	//		return;
	//	}
	//	viewer.resizeCanvas();
	//}

	onMount(() => {
		viewer = new Viewer(pcCanvas, dWrapper);
		viewer.shotHandler.oCollections = collections;
		viewer.finalizeInit();

		resizeObserver = new ResizeObserver((entries) => {
			// We're only watching one element
			const entry = entries.at(0);
			//Get the block size
			//boxWidth = entry.contentBoxSize[0].blockSize;
			const elemSize = entry.contentBoxSize[0];
			console.log(elemSize.blockSize); // a decimal
			if (viewer) {
				//viewer.resizeCanvas();
				if(resizeTimer){
					clearTimeout(resizeTimer);
				}
				resizeTimer = setTimeout(()=>viewer.resizeCanvas(), 100); //
			}
		});
		resizeObserver.observe(dWrapper);

		// This callback cleans up the observer
		return () => resizeObserver.unobserve(dWrapper);
	});
</script>

<div id="d-wrapper" bind:this={dWrapper} on:click on:keyup>
	<canvas tabindex="0" bind:this={pcCanvas} id="application-canvas" />
</div>

<style>
	#d-wrapper {
		width: 100%;
		height: 100%;
	}
</style>
