<script lang="ts">
	import { useRegisterSW } from 'virtual:pwa-register/svelte';

	// replaced dynamically
	let buildDate = __DATE__
	let reloadSW = __RELOAD_SW__

	const {
		offlineReady,
		needRefresh,
		updateServiceWorker
	} = useRegisterSW({
		onRegistered(r) {
			if (reloadSW) {
				r && setInterval(() => {
					console.log('Checking for sw update')
					r.update()
				}, 20000 /* 20s for testing purposes */)
			} else {
				console.log(`SW Registered: ${r}`)
			}
		},
		onRegisterError(error) {
			console.log('SW registration error', error)
		},
	})
	const close = () => {
		offlineReady.set(false)
		needRefresh.set(false)
	}

	$: toast = $offlineReady || $needRefresh
</script>

{#if toast}
	<!--div class="pwa-toast" role="alert">
		<div class="message">
			{#if $offlineReady}
				<span>
					App ready to work offline
				</span>
			{:else}
				<span>
					New content available, click on reload button to update.
				</span>
			{/if}
		</div>
		{#if $needRefresh}
			<button on:click={() => updateServiceWorker(true)}> Reload </button>
		{/if}
		<button on:click={close}> Close </button>
	</div-->

	<!---->
	<div
		role="alert"
		class="center rounded-xl border border-gray-100 p-4 shadow-xl bg-white w-96 max-w-[95vw]"
	>
		<div class="flex items-start gap-4">
			<!--span class="text-green-600">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="h-6 w-6"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
					/>
				</svg>
			</span-->

			<div class="flex-1">
				{#if $offlineReady}
					<strong class="block font-normal text-gray-900"> App ready to work offline </strong>
				{:else}
					<strong class="block font-normal text-gray-900"> New content available </strong>
				{/if}
				{#if $needRefresh}
					<button
						on:click={() => updateServiceWorker(true)}
						class="inline-flex items-center gap-2 mt-2 text-sm rounded-lg bg-indigo-600 px-4 py-2 text-white hover:bg-indigo-700"
					>
						Reload to update</button
					>
				{/if}
			</div>

			<button on:click={close} class="text-gray-500 transition hover:text-gray-600">
				<span class="sr-only">Dismiss popup</span>

				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="h-6 w-6 stroke-gray-800"
				>
					<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
				</svg>
			</button>
		</div>
	</div>
{/if}

<div class='pwa-date'>
	{ buildDate }
</div>

<style lang="scss">
	.pwa-date {
		visibility: hidden;
	}
	.center {
		position: fixed;
		left: 50%;
		top:1%;
		transform: translate(-50%, 0);
		z-index: 100;
	}
	.pwa-toast {
		// position: fixed;
		// right: 0;
		// bottom: 0;
		margin: 16px;
		padding: 12px;
		border: 1px solid #8885;
		border-radius: 4px;
		z-index: 2;
		text-align: left;
		box-shadow: 3px 4px 5px 0 #8885;
		background-color: white;
	}
	.pwa-toast .message {
		margin-bottom: 8px;
	}
	.pwa-toast button {
		border: 1px solid #8885;
		outline: none;
		margin-right: 5px;
		border-radius: 2px;
		padding: 3px 10px;
	}
</style>
