<script lang="ts">
	// Both these two dont work during build:
	//import '@google/model-viewer';
	//import "@google/model-viewer/dist/model-viewer.min.js";
	import { page } from '$app/stores';
	import type { ModelViewerElement } from '@google/model-viewer';
	import { onMount } from 'svelte';
	import { userInPage } from '../store';
	import type { IShot } from '../types/interface';
	import ShotHandler from './mv-shotHandler';
	export let shotData: IShot;
	export let dev;

	let collections = dev ? $page.data.collectionsDev : $page.data.collections;
	let ucxMeshMapping = dev ? $page.data.ucxMeshMappingDev : $page.data.ucxMeshMapping;
	let gltfLoadData = dev ? $page.data.gltfLoadDataDev : $page.data.gltfLoadData;
	let ftConfig = dev ? $page.data.ftConfigDev : $page.data.ftConfig;

	let viewer: ModelViewerElement;
	let shotHandler: ShotHandler;
	$: shotData, handleShotData();
	function handleShotData() {
		if (!viewer || !shotHandler) {
			return;
		}
		shotHandler.shotData = shotData;
		shotHandler.handle();
	}

	onMount(() => {
		shotHandler = new ShotHandler(viewer, shotData, gltfLoadData, collections, ucxMeshMapping, dev);
	});
</script>

<model-viewer
	on:touchstart={() => {
		userInPage.set(false);
	}}
	on:mouseover={() => {
		userInPage.set(false);
		// console.info("User entered page");
	}}
	bind:this={viewer}
	alt="engine"
	src=""
	ar
	ar-modes="webxr scene-viewer quick-look"
	ar-scale={ftConfig.arScale}
	scale={ftConfig.scale}
	interaction-prompt={ftConfig.interactionPrompt ? ftConfig.interactionPrompt : 'auto'}
	shadow-intensity="1"
	camera-controls
	enable-pan
	bounds="tight"
	loading="eager"
	reveal="manual"
>
	<div id="__poster__" slot="poster" />
</model-viewer>

<style lang="scss">
	model-viewer {
		width: 100%;
		height: 100%;
		background-color: transparent;
	}

	#ar-button {
		// background-image: url(../../assets/ic_view_in_ar_new_googblue_48dp.png);
		// background-repeat: no-repeat;
		// background-size: 20px 20px;
		// background-position: 12px 50%;
		// background-color: #fff;
		// position: absolute;
		// top: 0;
		// right: 0;
		// left: 50%;
		// transform: translateX(-50%);
		// white-space: nowrap;
		// bottom: 132px;
		// padding: 0px 16px 0px 40px;
		// color: #4285f4;
		// height: 36px;
		// line-height: 36px;
		// border-radius: 18px;
		// border: 1px solid #dadce0;
	}

	// #ar-button:active {
	// 	background-color: #e8eaed;
	// }

	// #ar-button:focus {
	// 	outline: none;
	// }

	// #ar-button:focus-visible {
	// 	outline: 1px solid #4285f4;
	// }
</style>
