.h_container{
  --min-hotspot-opacity: 0.1;

  &:not([data-visible])> div > div  {
    // Show only dot on backside
      display: none;
  }


  & > div  {
    display: block;
    
   }
   
  // Show only the hotspot dot if not hovered or not expanded
  & > div > div > div {
    display: none;
  }

  &:hover > div > div > div {
    display: block;
  }

  &.expanded > div > div > div  {
    display: block;
  }
 
}

.hotspot.dev{
    //&:hover{
    //    width: auto;
    //}
    width: 1rem;
    overflow: hidden;
    position: absolute;
    //top: -2rem;
    left:2rem;
    z-index: 100;
    white-space: nowrap;
    background-color: black;
    padding: 0.25rem;
    color:orangered;
    font-size: 0.75rem;
    line-height: 1rem;
    user-select: all;
}

.anchor {
    position: absolute;
    z-index: 10;
    user-select: none;
    cursor: pointer;
    & .title{
      position: absolute;
      width: min-content;
    }
    & .dropdown {
      display: none;
    }
    & .menu {
        display: flex;
        flex-direction: row;
    }
    &.maximized{
      & .title{
            width:16rem;
        }
      & .dropdown {
        display: block;
      }
    }
    &:hover {
        & .dropdown {
          display: block;
        }
    }
} 

 // ALIGNMENT
 .anchor.left{
   & .title{
    right: 1rem;
    text-align: right;
    & .dropdown{
      & .menu{  
        justify-content: flex-end;
      }
      }
  }
}
.anchor.right{
  & .title{
    left: 1rem;
  }
}

.anchor.top{
  & .title{
    bottom:1rem;
  }
}

.anchor.bottom{
  & .title{
    top: 1rem;
  }
}



// SIZE    
.anchor.large{
    &.spot{
      width: 1rem; 
      height: 1rem;
      transform: translate(-0.5rem, -0.5rem); 
      &:hover{
        width: 2.5rem;
        height: 2.5rem;
        transform: translate(-1.25rem, -1.25rem);
        & .title{
            width:16rem;
        }
      }
    }
    
    &.square{
      width: 2rem; 
      height: 2rem;
      transform: translate(-1rem, -1rem); 
      &:hover{
        width: 2.5rem;
        height: 2.5rem;
        transform: translate(-1.25rem, -1.25rem);
        & .title{
            width:16rem;
        }
      }
    }
    & .icon_button{ // SVG Size
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.5rem;
      border-radius: 9999px;
    }
    & .title{ // Hotspot container
      padding: 0.5rem;
      white-space: nowrap;
      font-size: 1rem; 
      line-height: 1.25rem; 
      
      & .dropdown{
        font-size: 0.875rem;
        line-height: 1rem;
        & .menu{
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
        }
        & .content{
          white-space:normal;
          font-weight:normal;
        }
      }
    }
}



    

  // SIZE    
  .anchor.small{ // Hotspot Circle Size
    width: 1rem; 
    height: 1rem;
    transform: translate(-0.5rem, -0.5rem);
    &:hover{
      width: 2.5rem;
      height: 2.5rem;
      transform: translate(-1.25rem, -1.25rem);
    }
    & .icon_button{ // SVG Size
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.5rem;
      border-radius: 9999px;
    }
    & .title{ // Hotspot container
      padding: 0.5rem;
      white-space: nowrap;
      font-size: 1rem; 
      line-height: 1.25rem; 
      & .dropdown{
        font-size: 0.875rem;
        line-height: 1rem;
        & .menu{
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
        }
        & .content{
          white-space:normal;
          font-weight:400;
        }
      }
    }

  }

// COLOR
.anchor.neutral{
    $bg-main:#262626; //800;
      
    $bg-spot:adjust-color($bg-main, $hue: 0deg, $saturation: 0%, $lightness: 20%);
    $bg-hover:adjust-color($bg-main, $hue: 0deg, $saturation: 0%, $lightness: 50%);
    $border:adjust-color($bg-main, $hue: 0deg, $saturation: 0%, $lightness: 90%);
    $icon-stroke:adjust-color($bg-main, $hue: 90deg, $saturation: 70%, $lightness: 50%);
    $icon-hover-bg:adjust-color($bg-main, $hue: 90deg, $saturation: 70%, $lightness: 50%);
    $icon-hover-stroke:adjust-color($bg-main, $hue: 90deg, $saturation: 0%, $lightness: 80%);
    $text-main:adjust-color($bg-main, $hue: 0deg, $saturation: 0%, $lightness: 90%);
    $text-sub:adjust-color($bg-main, $hue: 0deg, $saturation: 0%, $lightness: 100%);
  
        & a{
          text-decoration-line: underline;
          &:hover{
            color:$icon-stroke;
          }
          &:active{
            color:$border;
          }
        }
      
        &.spot{
        border-radius: 9999px;
        border-style: solid;
        border-width: 1px;
        background-color: $bg-spot;
        border-color: $border;
        &:hover {
          background-color: $bg-hover;
          border-color:$border;
        }
      }
      
      &.square{
        border-radius: 0.375rem;
        border-style: solid;
        border-width: 1px;
        background-color: $bg-spot;
        border-color: $border;
        &:hover {
          background-color: $bg-main;
          border-color:$border;
        }
      }
      
      
      & .icon_button{
        stroke: $icon-stroke;
        &:hover{
          background-color: $icon-hover-bg;
          stroke:$icon-hover-stroke;
        }
      }
      & .title {
        border-radius: 0.25rem;
        border-style: solid;
        border-width: 1px;
        border-color: $border;
        background-color: $bg-main;
        color:$text-main;
        & .dropdown{
          background-color:$bg-main;
          & .menu{
            color:$text-main;
          }
          & .content{
            color:$text-sub;
          }
        }
      }
  }
  
  
  
  
  
  .anchor.lime{
    $bg-main:#a3e635; //400;
      
    $bg-spot:adjust-color($bg-main, $hue: 0deg, $saturation: 0%, $lightness: 20%);
    $bg-hover:adjust-color($bg-main, $hue: 0deg, $saturation: 0%, $lightness: 35%);
    $border:adjust-color($bg-main, $hue: 0deg, $saturation: 0%, $lightness: 90%);
    $icon-stroke:adjust-color($bg-main, $hue: 0deg, $saturation: 70%, $lightness: -40%);
    $icon-hover-bg:adjust-color($bg-main, $hue: 0deg, $saturation: 70%, $lightness: -20%);
    $icon-hover-stroke:adjust-color($bg-main, $hue: 0deg, $saturation: 0%, $lightness: 80%);
    $text-main:adjust-color($bg-main, $hue: 0deg, $saturation: 0%, $lightness: -40%);
    $text-sub:adjust-color($bg-main, $hue: 0deg, $saturation: 0%, $lightness: -100%);
      
  
      & a{
        text-decoration-line: underline;
        &:hover{
          color:$icon-stroke;
        }
        &:active{
          color:$border;
        }
      }
      
        &.spot{
        border-radius: 9999px;
        border-style: solid;
        border-width: 1px;
        background-color: $bg-spot;
        border-color: $border;
        &:hover {
          background-color: $bg-hover;
          border-color:$border;
        }
      }
      
      &.square{
        border-radius: 0.375rem;
        border-style: solid;
        border-width: 1px;
        background-color: $bg-spot;
        border-color: $border;
        &:hover {
          background-color: $bg-main;
          border-color:$border;
        }
      }
      
      
      & .icon_button{
        stroke: $icon-stroke;
        &:hover{
          background-color: $icon-hover-bg;
          stroke:$icon-hover-stroke;
        }
      }
      & .title {
        border-radius: 0.25rem;
        border-style: solid;
        border-width: 1px;
        border-color: $border;
        background-color: $bg-main;
        color:$text-main;
        & .dropdown{
          background-color:$bg-main;
          & .menu{
            color:$text-main;
          }
          & .content{
            color:$text-sub;
          }
        }
      }
  }