#__poster__ {
    //position: absolute;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    opacity: 50%;
    background-image:
        linear-gradient(rgb(150, 179, 207),
            rgb(136, 76, 148)),
        url("../../../ez3d_1000.png"); // needs to be relative to /_app/immutable/assets/css_file.css
}