.__pbar__ {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);


    height: 0.5rem;

    @media (min-width: 640px) {
        height: 1rem;
    }

    width: 50vw;
    overflow: hidden;
    border-radius: 9999px;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.5);
    background-color: #4b5563;

    & div {
        transition: width cubic-bezier(0.4, 0, 0.2, 1) 150ms;
        background-color: orange;
        height: 100%;
        width: 0;
    }
}