<div class='hotspot'>
   <div class="">
      <div class="title">
         %content%
         <div class="dropdown">
            <div class="menu">
               %menu%
            </div>
            <div class="content">
               %dropdown%
            </div>
         </div>
      </div>
   </div>
</div>