<script lang="ts">
	import { afterUpdate } from 'svelte';
	import { createEventDispatcher } from 'svelte';
	import { highlightClass, userInPage } from '../store';
	import Layout from '$pages/layout/_Layout.svelte';
	export let blocks: object;
	export let layout: string;
	export let dev: boolean;
	// export let menu: boolean = false;
	// export let status: boolean = false;
	import { lazyLoadingSetup } from '../lazyloading';
	import { browser } from '$app/environment';
	// import Menu from '$lib/Menu/Menu.svelte';
	const dispatch = createEventDispatcher();

	// If the user scrolls the page, we want to trigger
	// anchors. If the scroll is initalised from e.g.
	// a hotspot, we dont want to trigger things on the page that
	// we scroll past. We can block the observer:
	let triggerFromObserver: boolean = true;

	// We only want to trigger anchors from the observer, if the user is
	// in the page view.
	// let userInPage: boolean; // set by on mouseover/mouseout to handle anchor observer
	let blocksUpdated: boolean = false;
	let anchorObserver;
	let anchorsToObserve: Array<string>;
	let layoutContainer;
	let scrollContainer;

	let lazyloadingObserver = {};

	$: $highlightClass, handleHightlightClass();
	$: blocks, (blocksUpdated = true);

	/**
	 * Handles highlighter store changes.
	 * Remove .__highlighter class.
	 * If store is not null, find elements with class
	 * and append .__highlighter classname
	 */
	function handleHightlightClass() {
		if (!browser) {
			return;
		}
		const toRemoveHighlight = document.getElementsByClassName('__highlighter');
		for (var i = 0; i < toRemoveHighlight.length; i++) {
			toRemoveHighlight[i].classList.remove('__highlighter');
		}
		if ($highlightClass != null) {
			const toHighlight = document.getElementsByClassName($highlightClass);
			for (var i = 0; i < toHighlight.length; i++) {
				// Highlight will be added to the parent. If parent is <td>, add to <tr>
				// ancestor.
				if (toHighlight[i].parentElement.nodeName === 'TD') {
					const tableRow = toHighlight[i].parentElement.closest('tr');
					if (tableRow) {
						tableRow.classList.add('__highlighter');
						continue;
					}
				}
				toHighlight[i].classList.add('__highlighter');
			}
			scrollToHightlightClass();
		}
	}

	function scrollToHightlightClass() {
		const items = layoutContainer.getElementsByClassName($highlightClass);
		const visible = [...items].filter((el) => {
			// jQuery-like :visible selector
			return !!(el.offsetWidth || el.offsetHeight || el.getClientRects().length);
		});

		if (visible.length > 0) {
			// Block observer from triggering for 1 second
			triggerFromObserver = false;
			window.setTimeout(() => {
				triggerFromObserver = true;
			}, 1000);

			console.info("Scrolling")
			console.info(visible[0])
			visible[0].scrollIntoView({
				behavior: 'smooth',
				block: 'start', //start, center, end, or nearest
				inline: 'nearest'
			});
		}
	}

	function AnchorsObserve() {
		if (!anchorObserver) {
			// console.info("Anchor observer not intitialised");
			anchorObserverSetup();
		}
		if (anchorObserver.rootMargin) {
			// unobserve all
			// console.info("Removing all targets from Anchor observer");
			anchorObserver.disconnect();
		}

		// Select where ,! in <a href
		anchorsToObserve = document.querySelectorAll('a[href*=",!"]');
		// console.info(anchorsToObserve);
		anchorsToObserve.forEach((a) => {
			console.log(a.getAttribute('href'));
			anchorObserver.observe(a);
		});
	}

	function anchorObserverSetup() {
		const options = {
			root: scrollContainer,
			rootMargin: '0% 0% -40% 0%',
			threshold: 1
		};

		let callback = (entries, obs) => {
			console.info('Anchor Trigger!');
			if (!$userInPage) {
				return;
			}

			entries.forEach((entry) => {
				//setTimeout(() => {
				// Early return if not intersecting
				if (!entry.isIntersecting) {
					return;
				}

				// Only dispatch click if page view was scrolled by user
				if (!triggerFromObserver) {
					return;
				}
				// console.info(`Trigger Anchor`);
				dispatch('click', { target: entry.target });
				//}, 2000);
			});
		};
		anchorObserver = new IntersectionObserver(callback, options);
		// console.info("Created new intersectionObserver");
	}

	afterUpdate(() => {
		// console.info("Blocks updated ", blocksUpdated)
		if (!blocksUpdated) {
			return;
		}
		if (typeof IntersectionObserver !== 'undefined') {
			lazyloadingObserver = lazyLoadingSetup();
		}
		anchorObserverSetup();
		AnchorsObserve();
		handleHightlightClass();

		// if highlight class in store, scroll to first occurence
		// see https://stackoverflow.com/questions/12591466/how-can-i-scroll-to-first-visible-element-with-a-specific-div-class
		if ($highlightClass) {
			scrollToHightlightClass();
		} else {
			// Block observer from triggering for 1 second
			triggerFromObserver = false;
			window.setTimeout(() => {
				triggerFromObserver = true;
			}, 1000);
			triggerFromObserver = false;
			layoutContainer.scrollTo({ top: 0, behavior: 'smooth' });
		}
		blocksUpdated = false;
	});
</script>

<div
	on:touchstart={() => {
		userInPage.set(true);
	}}
	on:mouseover={() => {
		userInPage.set(true);
		// console.info("User entered page");
	}}
	on:focus
	on:mouseleave={() => {
		userInPage.set(false);
		// console.info("User left page");
	}}
	bind:this={layoutContainer}
	class="relative w-full h-full  flex flex-row"
>
	<!--div
		class="{menu || status
			? status
				? 'w-full text-xs'
				: 'w-1/4'
			: 'w-0'} overflow-y-scroll transition-all bg-neutral-900 text-gray-200"
	>
		<Menu {status} on:click />
	</div-->

	<div bind:this={scrollContainer} class="w-full overflow-hidden _overflow-y-scroll  transition-all ">
		<Layout {layout} {blocks} on:click on:back on:forward />
	</div>

	{#if dev}
		<div class="absolute top-2 right-10 bg-orange-300 z-50">
			<span>User in page: {$userInPage}</span>
			<span>{$highlightClass}</span>
		</div>
	{/if}
</div>

<style lang="scss">
</style>
