<svg class="icon_button" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
     stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
  <path d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"></path>
  <polyline points="14 2 14 8 20 8"></polyline>
  <circle cx="11.5" cy="14.5" r="2.5"></circle>
  <path d="M13.25 16.25 15 18"></path>

</svg>