
  <svg class="icon_button" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2"
       stroke-linecap="round" stroke-linejoin="round">
    <path d="m15 14 5-5-5-5"></path>
    <path d="M20 9H9.5A5.5 5.5 0 0 0 4 14.5v0A5.5 5.5 0 0 0 9.5 20H13"></path>

  </svg>