<script lang="ts">
  import { createEventDispatcher } from "svelte";

  const dispatch = createEventDispatcher();
</script>

<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
  <symbol
    id="feather-play-circle"
    viewBox="0 0 24 24"
    fill="none"
    stroke-width="2,"
    stroke-linecap="round"
    stroke-linejoin="round">
    <title>Start 3D</title>
    <desc>Start the 3D Viewer</desc>
    <circle cx="12" cy="12" r="10" />
    <polygon points="10 8 16 12 10 16 10 8" />
  </symbol>
</svg>

<div
  class="shotLoader bg-cover bg-center  relative  h-full w-full bg-blend-multiply overflow-hidden  ">
  <div class="centered w-16 h-16">
    <div class="pulse">
      <svg
        on:click={() => dispatch("start")}
        class="p-4 w-48 h-48 rounded-full bg-neutral-900/20 stroke-neutral-600 hover:stroke-neutral-100 hover:bg-neutral-900/50 active:stroke-green-400 dark:stroke-neutral-300 cursor-pointer">
        <use href="#feather-play-circle" />
      </svg>
    </div>
  </div>
</div>

<style lang="scss">
  .shotLoader {
    opacity: 50;
    background-image: linear-gradient(rgb(36, 45, 49), rgba(39, 21, 38, 0.7)),
      url("https://images.unsplash.com/photo-1479839672679-a46483c0e7c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=710&q=80");
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .pulse {
    position:absolute;
    top: -100%;
    left: -100%;
    box-shadow: 0 0 0 0 rgb(0, 0, 0);
    //transform-origin: -50%, -50%;
    transform: scale(1);
    border-radius: 50%;
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
</style>
