<script lang="ts">
	import Settings from '$lib/Settings/Settings.svelte';
	import { createEventDispatcher } from 'svelte';
	import Timeline from '../Timeline/Timeline.svelte';
	import type { ITimelineItem } from '../types/interface';
	export let menu: boolean = false;
	export let sidebar: boolean;
	export let currentTimelineData: Array<ITimelineItem>;
	const dev = import.meta.env.DEV;
	const dispatch = createEventDispatcher();
	let settings = false;
	//export let multiframe:boolean;
	export let multisample: boolean;
</script>

<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
	<symbol
		id="feather-arrow-left-circle"
		viewBox="0 0 24 24"
		fill="none"
		stroke-width="2,"
		stroke-linecap="round"
		stroke-linejoin="round"
	>
		<title>Go Back</title>
		<desc>Navigate back</desc>
		<circle cx="12" cy="12" r="10" />
		<polyline points="12 8 8 12 12 16" />
		<line x1="16" y1="12" x2="8" y2="12" />
	</symbol>

	<symbol
		id="feather-arrow-right-circle"
		viewBox="0 0 24 24"
		fill="none"
		stroke-width="2,"
		stroke-linecap="round"
		stroke-linejoin="round"
	>
		<title>Go Forward</title>
		<desc>Navigate forward</desc>
		<circle cx="12" cy="12" r="10" />
		<polyline points="12 16 16 12 12 8" />
		<line x1="8" y1="12" x2="16" y2="12" />
	</symbol>

	<symbol
		id="feather-x-circle"
		viewBox="0 0 24 24"
		fill="none"
		stroke-width="2,"
		stroke-linecap="round"
		stroke-linejoin="round"
	>
		<title>Stop 3D</title>
		<desc>Stop the 3D Viewer</desc>
		<circle cx="12" cy="12" r="10" />
		<line x1="15" y1="9" x2="9" y2="15" />
		<line x1="9" y1="9" x2="15" y2="15" />
	</symbol>

	<symbol
		id="menu"
		viewBox="0 0 24 24"
		fill="none"
		stroke-width="2,"
		stroke-linecap="round"
		stroke-linejoin="round"
	>
		<title>Menu</title>
		<desc>Open the main menu</desc>
		<line x1="4" y1="12" x2="20" y2="12" /><line x1="4" y1="6" x2="20" y2="6" /><line
			x1="4"
			y1="18"
			x2="20"
			y2="18"
		/>
	</symbol>

	<symbol
		id="settings"
		viewBox="0 0 24 24"
		fill="none"
		stroke-width="2,"
		stroke-linecap="round"
		stroke-linejoin="round"
	>
		<title>Settings</title>
		<desc>Open the settings menu</desc>
		<path
			d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"
		/>
		<circle cx="12" cy="12" r="3" />
	</symbol>

	<symbol
		id="sidebar"
		viewBox="0 0 24 24"
		fill="none"
		stroke-width="2,"
		stroke-linecap="round"
		stroke-linejoin="round"
	>
		<title>Page view</title>
		<desc>Open the page view</desc>
		<rect x="3" y="3" width="18" height="18" rx="2" ry="2" />
		<line x1="9" y1="3" x2="9" y2="21" />
	</symbol>
</svg>

<div
	class="transition corner p-2 rounded-md bottom-2 right-11 lg:right-2 {settings
		? 'h-64'
		: 'h-auto'} "
>
	<div class="flex flex-row ">
		{#if currentTimelineData.length}
			<Timeline {currentTimelineData} on:click />
		{/if}
		<button on:click={() => dispatch('back')}>
			<svg
				class="mx-1 rounded-full bg-neutral-500/80 p-1 h-9 w-9 stroke-neutral-100 hover:stroke-neutral-100 hover:bg-neutral-200/50 active:stroke-green-400  cursor-pointer"
			>
				<use href="#feather-arrow-left-circle" />
			</svg>
		</button>
		<button on:click={() => dispatch('sidebar')}>
			<svg
				class="mx-1 rounded-full  p-1 h-9 w-9  {sidebar
					? 'stroke-neutral-800 bg-green-200 hover:bg-green-100 '
					: 'stroke-neutral-100 hover:stroke-neutral-100 active:stroke-green-400 bg-neutral-500/80 hover:bg-neutral-200/50'} cursor-pointer"
			>
				<use href="#sidebar" />
			</svg>
		</button>
		<button on:click={() => dispatch('menu')}>
			<svg
				class="mx-1 rounded-full  p-1 h-9 w-9  {menu
					? 'stroke-neutral-800 bg-green-200 hover:bg-green-100 '
					: 'stroke-neutral-100 hover:stroke-neutral-100 active:stroke-green-400 bg-neutral-500/80 hover:bg-neutral-200/50'} cursor-pointer"
			>
				<use href="#menu" />
			</svg>
		</button>
		{#if dev}
			<button
				on:click={() => dispatch('devShortcut')}
				class="mx-1 rounded-full text-red-400 cursor-pointer">DEV</button
			>
			<button
				on:click={() => dispatch('devStatus')}
				class="mx-1 rounded-full text-orange-400 cursor-pointer">Status</button
			>
		{/if}
		<!--button
			on:click={() => dispatch('AR')}
			class="mx-1 rounded-full text-amber-300 bg-neutral-500/80 p-1 h-9 w-9 stroke-neutral-100 hover:stroke-neutral-100 hover:bg-neutral-200/50 active:stroke-green-400  cursor-pointer"
		>
			AR
		</button-->

		<!--button on:click={() => (settings = !settings)}>
			<svg
				class="mx-1 rounded-full bg-neutral-500/80 p-1 h-9 w-9 stroke-neutral-100 hover:stroke-neutral-100 hover:bg-neutral-200/50 active:stroke-green-400  cursor-pointer"
			>
				<use href="#settings" />
			</svg>
		</button-->

		<button on:click={() => dispatch('forward')}>
			<svg
				class="mx-1 rounded-full bg-neutral-500/80 p-1 h-9 w-9 stroke-neutral-100 hover:stroke-neutral-100 hover:bg-neutral-200/50 active:stroke-green-400  cursor-pointer"
			>
				<use href="#feather-arrow-right-circle" />
			</svg>
		</button>

		<!--svg
    on:click={() => dispatch("stop")}
    class="mx-1 rounded-full bg-neutral-500/80 p-1 h-9 w-9 stroke-neutral-600 hover:stroke-neutral-100 hover:bg-neutral-200/50 active:stroke-green-400 cursor-pointer">
    <use href="#feather-x-circle" />
  </svg-->
	</div>
</div>

<style lang="scss">
	.corner {
		position: fixed;
		// bottom: 0.5rem;
		// right: 0.5rem;
		z-index: 100;
		//transform: translate(-50%, -50%);
	}
</style>
