<script>
    import { page } from '$app/stores';
</script>
<section>

    <h1>{$page.error.message}</h1>
</section>


<style lang="scss">
    section{
        width:100vw;
        height:100vh;
        background-color: white;
    }
</style>