<script lang="ts">
	import { shotDataEditable } from '../../store';
	import type { IShot } from '../../types/interface';
	import set from 'lodash.set';
	import get from 'lodash.get';
	import cloneDeep from 'lodash.clonedeep';
	import { createEventDispatcher } from 'svelte';
	export let label: string;
	export let shotData: IShot;
	export let datapath: string;
	export let editable: boolean;
	export let handleAbove = false;
	let data: string;
	export let help: string = '';

	$: $shotDataEditable, updateData();

	const dispatch = createEventDispatcher();

	function updateData() {
		if (editable) {
			if(!$shotDataEditable)return;
			const d = get($shotDataEditable, datapath);
			if (d) {
				data = d.toString();
			}
		} else {
			if(!shotData)return;
			const d = get(shotData, datapath).toString();
			if (d) {
				data = d.toString();
			}
		}
	}

	function handle() {
		if (!editable) {
			return;
		}
		const c = cloneDeep($shotDataEditable);

		set(c, datapath, data.split(','));
		shotDataEditable.set(c);
	}
</script>

<div class="input my-1 bg-gray-500">
	<label class="text-gray-300 text-xs">
		<pre class="inline text-gray-400 text-xs">Array string</pre>
		{label}
		<input
			id={label}
			type="text"
			placeholder="not set"
			bind:value={data}
			class="my-1 p-1 w-full rounded-md border-gray-200 bg-gray-200 shadow-sm text-xs text-gray-500"
			on:keyup={(e) => {(handleAbove ? dispatch('stringArrayChanged', e.target.value) : handle)}}
		/>
	</label>
	<div class="shotformhelp">{help}</div>
</div>

<style lang="scss">
	.input:hover {
		& .shotformhelp {
			display: block;
		}
	}
</style>
