<script lang="ts">
	import { shotDataEditable } from '../../store';
	import type { IShot } from '../../types/interface';
	import set from 'lodash.set';
	import get from 'lodash.get';
	import unset from 'lodash.unset';
	import cloneDeep from 'lodash.clonedeep';
	import { createEventDispatcher } from 'svelte';
	export let label: string;
	export let shotData: IShot;
	export let datapath: string;
	export let editable: boolean;
	export let step = '0.5';
	export let deletable = false;
	export let handleAbove = false;
	export let setableFromScene = false; // Can the value be set from the scene
	export let sceneValue: number = undefined;

	let data: number;
	export let help: string = '';

	const dispatch = createEventDispatcher();

	$: $shotDataEditable, shotData, updateData();

	function updateData() {
		if (editable) {
			data = get($shotDataEditable, datapath);
		} else {
			data = get(shotData, datapath);
		}
	}

	function handle() {
		if (!editable) {
			return;
		}
		const c = cloneDeep($shotDataEditable);
		set(c, datapath, data);
		shotDataEditable.set(c);
	}

	function handleDelete() {
		if (!editable) {
			return;
		}
		const c = cloneDeep($shotDataEditable);
		unset(c, datapath);
		shotDataEditable.set(c);
	}

	function setFromScene(){ console.info("Set from scene ", sceneValue)
		if (!editable) {
			return;
		}
		const c = cloneDeep($shotDataEditable);
		set(c, datapath, sceneValue);
		shotDataEditable.set(c);
	}
</script>

<div class="input my-1 bg-gray-500">
	<label class="text-gray-300 text-xs flex flex-row items-center">
		{#if deletable}
			<span
				class="text-red-300 cursor-pointer mr-1"
				on:click={handleAbove ? dispatch('delete') : handleDelete}>X</span
			>
		{/if}
		<pre class="inline text-gray-400 text-xs mr-1">number</pre>
		{label}
		{#if setableFromScene}
			<span class="text-xs text-amber-500 cursor-pointer ml-1" on:click={setFromScene}>set</span>
		{/if}
		<input
			id={label}
			{step}
			type="number"
			placeholder="not set"
			bind:value={data}
			class="my-1 w-full rounded-md border-gray-200 bg-gray-500 shadow-sm text-xs text-green-200 text-right"
			on:keyup={handle}
		/>
		<span class="cursor-pointer ml-1" on:click={handleAbove ? dispatch('commit') : handle}
			>commit</span
		>
	</label>
	<div class="shotformhelp">{help}</div>
</div>

<style lang="scss">
	.input:hover {
		& .shotformhelp {
			display: block;
		}
	}
</style>
