<script lang="ts">
	import { shotDataEditable } from '../../store';
	import type { IShot } from '../../types/interface';
	import set from 'lodash.set';
	import get from 'lodash.get';
	import cloneDeep from 'lodash.clonedeep';
	export let label: string;
	export let shotData: IShot;
	export let datapath: string;
	export let editable: boolean;
	let data: boolean;
	export let help: string = '';

	$: $shotDataEditable, shotData, updateData();

	function updateData() {
		if (editable) {
			data = get($shotDataEditable, datapath);
		} else {
			data = get(shotData, datapath);
		}
	}

	function handle() {
		if (!editable) {
			return;
		}
		const c = cloneDeep($shotDataEditable);
		set(c, datapath, !data);
		shotDataEditable.set(c);
	}
</script>

<div class="input my-1 bg-gray-500">
	<span class="text-xs cursor-pointer {data ? 'text-green-300' : 'text-gray-300'}" on:click={handle}
		>
		<pre class="inline text-gray-400 text-xs">boolean</pre>
		{label}

		<div class="shotformhelp">{help}</div>
	</span>
</div>

<style lang="scss">
	
	.input:hover {
		& .shotformhelp {
			display: block;
		}
	}
</style>
