<script lang="ts">
	import { shotDataEditable } from '../../store';
	import type { IShot } from '../../types/interface';
	import set from 'lodash.set';
	import get from 'lodash.get';
	import cloneDeep from 'lodash.clonedeep';
	export let label: string;
	export let shotData: IShot;
	export let datapath: string;
	export let editable: boolean;
	let data:string
	export let help: string = '';

	$: $shotDataEditable, updateData();

	function updateData() {
		if (editable) {
			data = get($shotDataEditable, datapath);
		} else {
			data = get(shotData, datapath);
		}
	}

	function handle() {
		if (!editable) {
			return;
		}
		const c = cloneDeep($shotDataEditable);
		set(c, datapath, data);
		shotDataEditable.set(c);
	}
</script>

<div class="input my-1 bg-gray-500">
	<label class="text-gray-300 text-xs"
	>
	<pre class="inline text-gray-400 text-xs">string</pre>
	{label} 
		<input
			id={label}
			type="text"
			placeholder="not set"
			bind:value={data}
			class="my-1 w-full rounded-md border-gray-200 bg-gray-500 shadow-sm text-xs text-green-200"
			on:keyup={handle}
		/>
	</label>
	<div class="shotformhelp">{help}</div>
</div>


<style lang="scss">
	
	.input:hover {
		& .shotformhelp {
			display: block;
		}
	}
</style>