<script lang="ts">
	import { shotDataEditable } from '../../store';
	import utilsConfig from '../../../../utils/utils-config';
	let saved: boolean = false;

    $: $shotDataEditable, saved=false;

	async function saveData() {
		
		const response = fetch(`http://${utilsConfig.HOST}:${utilsConfig.PORT}/saveshot`, {
			method: 'POST',
			body: JSON.stringify($shotDataEditable),
			headers: {
				'content-type': 'application/json'
			}
		})
			.then((response) => response.json())
			.then((data) => {
				data.status === 'SUCCESS' ? (saved = true) : null;
			});
	}
</script>

<button
	class="inline-block px-4 py-2 text-sm rounded-lg font-medium text-gray-700 {saved ? 'bg-green-300':'bg-blue-300'}  hover:bg-blue-200 active:bg-blue-50 focus:relative"
	on:click={saveData}
>
	{saved ? 'Saved!' : 'Save'}
</button>
