<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import { shotID } from "../store";
  import type { ITimelineItem } from "../types/interface";
  export let currentTimelineData: Array<ITimelineItem>;
  const dispatch = createEventDispatcher();
  //  dispatch("click", { target: entry.target }); // see Page.svelte

  // We can trigger by clicking on item
  // by clicking "next"
  // from timer, after 'play'
</script>

<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
  <symbol
    id="timelinePlay"
    viewBox="0 0 24 24"
    fill="none"
    stroke-width="2,"
    stroke-linecap="round"
    stroke-linejoin="round">
    <title>Play</title>
    <desc>Play Timeline</desc>
    <circle cx="12" cy="12" r="10" /><polygon points="10 8 16 12 10 16 10 8" />
  </symbol>

  <symbol
    id="timelineNext"
    viewBox="0 0 24 24"
    fill="none"
    stroke-width="2,"
    stroke-linecap="round"
    stroke-linejoin="round">
    <title>Next</title>
    <desc>Next in Timeline</desc>
    <circle cx="12" cy="12" r="10" /><polyline points="12 16 16 12 12 8" /><line
      x1="8"
      y1="12"
      x2="16"
      y2="12" />
  </symbol>

  <symbol
    id="timelinePrevious"
    viewBox="0 0 24 24"
    fill="none"
    stroke-width="2,"
    stroke-linecap="round"
    stroke-linejoin="round">
    <title>Previous</title>
    <desc>Previous in Timeline</desc>
    <circle cx="12" cy="12" r="10" /><polyline points="12 8 8 12 12 16" /><line
      x1="16"
      y1="12"
      x2="8"
      y2="12" />
  </symbol>
</svg>

<div class="tcontainer relative">
  {#each currentTimelineData as tItem, i}
    <!--div
      style="left:{(100 / currentTimelineData.length) * i}%"
      class="{$shotID === tItem.shot
        ? 'active'
        : ''} absolute timelineitem text-slate-200 bg-slate-500 p-1 _flex _flex-col _items-center">
      <span class="popover text-amber-50 bg-slate-900">{tItem.title}</span>
      <a
        on:click
        href="{tItem.page ? tItem.page : ''},{tItem.shot ? tItem.shot : ''}"
        >{i + 1}</a>
    </div-->
  {/each}
  <div>
    <div
      class="relative after:absolute after:inset-x-0 after:top-1/2 after:block after:h-0.5 after:-translate-y-1/2 after:rounded-lg after:bg-gray-100">
      <ol
        class="relative z-10 flex justify-between text-sm font-medium text-gray-500">
        {#each currentTimelineData as tItem, i}
          <li
            class="tItem flex items-center p-2 {$shotID === tItem.shot
              ? 'active'
              : ''} ">
            <span class="popover whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-sm text-purple-700"
              >{tItem.title}</span>
            <a
              on:click
              data-sveltekit-preload-data="off"
              class="{$shotID === tItem.shot
                ? 'bg-white'
                : 'bg-gray-100'} h-6 w-6 rounded-full  text-center text-[10px] font-bold leading-6"
              href="{tItem.page ? tItem.page : ''},{tItem.shot
                ? tItem.shot
                : ''}">{i + 1}
              </a>
          </li>
        {/each}
      </ol>
    </div>
  </div>
</div>

<style lang="scss">
  .tcontainer {
    width: 16rem;

    cursor: pointer;

    & .active {
      & .popover {
        display: block;
      }
    }
    & .popover {
      position: absolute;
      display: none;
      white-space: nowrap;
      top: -50%;
      //left: -50%;
      transform: translateX(-35%);
    }
    .tItem:hover {
      color: orange;
      & .popover {
        //top: -50%;
        display: block;
      }
    }
  }
</style>
