<script lang="ts">
	import { language, shotID } from '../store';
	export let expanded = false;
	export let item = {};
	export let hierarchy;
	export let depth: number;
	let insetAmount=12;

	function toggle() {
		expanded = !expanded;
	}
</script>
<!--
{#if depth >= 4}
	<button class="align-middle" on:click={toggle}>
		{#if expanded}
			<svg
				class=" h-4 w-4 stroke-neutral-200 hover:stroke-neutral-100 active:stroke-green-400  cursor-pointer"
			>
				<use href="#menu-fold" />
			</svg>
		{:else}
			<svg
				class=" h-4 w-4 stroke-neutral-200 hover:stroke-neutral-100 active:stroke-green-400  cursor-pointer"
			>
				<use href="#menu-expand" />
			</svg>
		{/if}
	</button>
{/if}
-->
{#if item?.params?.name}
	<a
		class={item.id === $shotID ? 'menuhighlight' : ''}
		on:click
		data-sveltekit-preload-data="off"
		href="{item.params.p}{item.params.hc ? '#' + item.params.hc : ''},{item.id}"
		>
    <span style="margin-left: {depth * insetAmount}px;">{item.params.name[$language]}</span>
	</a>
{/if}

{#if expanded}
	<ul class="" style="margin-left: {depth * 0}px;">
		{#each hierarchy as hierarchyItem}
			<li class="menudepth{depth}">
				{#if hierarchyItem.children.length}
					<svelte:self
						on:click
						item={hierarchyItem}
						hierarchy={hierarchyItem.children}
						expanded={true}
						depth={depth + 1}
					/>
				{:else}
					<div class="" />
					<a
						class={hierarchyItem.id === $shotID ? 'menuhighlight' : ''}
						on:click
						data-sveltekit-preload-data="off"
						href="{hierarchyItem.params.p}{hierarchyItem.params.hc
							? '#' + hierarchyItem.params.hc
							: ''},{hierarchyItem.id}"
					>
						<span style="margin-left: {(depth * insetAmount) + insetAmount}px;">{hierarchyItem.params.name[$language]}</span>
					</a>
				{/if}
			</li>
		{/each}
	</ul>
{/if}

<style lang="scss">
	.menuhighlight {
		position: relative;
		color: #1e293b;

		&.menuhighlight::after {
			content: '';
			position: absolute;
			left: -1.25rem;
			bottom: 0;
			width: 1rem;
			height: 100%;
			transform: scale(1.01, 2);
			//animation: highlightScale 0.4s, highlightPulse 2s infinite;
			opacity: 1;
			background-color: #0e7490;
			//border-radius: 0.375rem;
			//z-index: -1;
			display: inline-block;
		}
	}
	.expanded {
		// background-image: url(/tutorial/icons/folder-open.svg);
	}

	ul {
		// padding: 0.2em 0 0 0.5em;
		// margin: 0 0 0 0.5em;
		white-space: nowrap;
		list-style: none;
		// border-left: 1px solid #eee;
		line-height: 2rem;
		font-weight: 300;
		color: #64748b;
		& a:hover {
			color: #0891b2;
		}
	}

	li {
		// padding: 0.2em 0;
	}

	.menudepth0 {
		// @apply text-xl font-light  text-gray-50;
	}

	.menudepth1 {
		// @apply text-lg  mt-8;
	}

	.menudepth2 {
		// @apply font-medium text-sm mt-4;
	}

	.menudepth3 {
		// @apply font-light  text-sm;
	}

	.menudepth4 {
		// padding-left: 1rem;
	}

	.menudepth5 {
		// padding-left: 1rem;
	}

	.menudepth6 {
		// padding-left: 1rem;
	}
	.menudepth7 {
		// padding-left: 1rem;
	}

	.menudepth8 {
		// padding-left: 1rem;
	}
</style>
