<script lang="ts">
	import { language } from '../store';
	import { page } from '$app/stores';
	//import toc from '../../../pre/menu/menu.json';
	import MenuItem from './MenuItem.svelte';
	import utilsConfig from '../../../utils/utils-config';
	// import MenuItemStatus from './MenuItemStatus.svelte';
	export let dev: boolean;

	let toc = dev ? $page.data.menuDev : $page.data.menu;

	let statusHierarchy;

	// Conditional import of status hierarchy:
	// The status Hierarchy is different from the menu hierarchy, as it
	// contains all shots.
	// This could be done the same way as toc import above.
	if (dev) {
		const contentPath = import.meta.env.VITE_CONTENT_PATH;

		const statusHierarchPromise = import(contentPath + 'pre/menu/menu_dev.json');
		statusHierarchPromise.then((res) => {
			console.info('Status hierarchy resolved');
			statusHierarchy = res.default;
		});
	}

	export let status: boolean = false;
	let promise;
	$: status ? (promise = getStatus()) : null;

	async function getStatus() {
		console.info('Get status');
		const res = await fetch(
			`http://${utilsConfig.HOST}:${utilsConfig.PORT}/` + 'status?locale=' + $language
		);
		const data = await res.json();
		console.info(data);
		if (res.ok) {
			return data;
		} else {
			throw new Error(data);
		}
	}
	function refreshStatus() {
		promise = getStatus();
	}
</script>

<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
	<symbol
		id="menu-expand"
		viewBox="0 0 24 24"
		fill="none"
		stroke-width="2,"
		stroke-linecap="round"
		stroke-linejoin="round"
	>
		<title>Expand</title>
		<desc>Expand Menu Item</desc>
		<polyline points="9 18 15 12 9 6" />
	</symbol>

	<symbol
		id="menu-fold"
		viewBox="0 0 24 24"
		fill="none"
		stroke-width="2,"
		stroke-linecap="round"
		stroke-linejoin="round"
	>
		<title>Fold</title>
		<desc>Fold Menu Item</desc>
		<polyline points="6 9 12 15 18 9" />
	</symbol>
</svg>

<section class="w-full m-4">
	{#if status}
		{#await promise}
			<span>Loading status...</span>
		{:then statusData}
			<svg
				class="cursor-pointer hover:stroke-slate-400"
				on:click={refreshStatus}
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				><path d="M21 2v6h-6" /><path d="M3 12a9 9 0 0 1 15-6.7L21 8" /><path d="M3 22v-6h6" /><path
					d="M21 12a9 9 0 0 1-15 6.7L3 16"
				/></svg
			>

			{#if statusHierarchy}
				<MenuItem on:click hierarchy={statusHierarchy} expanded depth={0} />
				<!--MenuItemStatus
					on:click
					hierarchy={statusHierarchy}
					{status}
					{statusData}
					expanded
					depth={0}
				/-->
				<!--div class="h-screen" /-->
			{/if}
		{/await}
	{:else}
		<MenuItem on:click hierarchy={toc} expanded depth={0} />
	{/if}
</section>

<style lang="scss">
</style>
