<script lang="ts">
	import { onMount } from 'svelte';
	import { language, shotID } from '../store';
	import type { IStatus } from '../types/interface';
	import MenuItemStatusItem from './MenuItemStatusItem.svelte';
	export let expanded = false;
	export let params = {};
	export let hierarchy;
	export let status: boolean;
	export let statusData: IStatus;
	export let depth: number = 0;
</script>

<!--button class:expanded on:click={toggle}>{name}</button-->
{#if params.name}
	<div class="statusRow flex flex-row flex-nowrap">
		<!--MenuItemStatusItem data={statusData[params.id]} /-->
		<a
			class={params.id === $shotID ? 'bg-neutral-500' : ''}
			on:click
			data-sveltekit-preload-data="off"
			style="padding-left: {depth * 0.5}rem;"
			href="{params.p},{params.id}">{params.name[$language]}</a
		>
	</div>
{/if}

{#if expanded}
	<ul>
		{#each hierarchy as item}
			<li>
				{#if item.children.length}
					<svelte:self
						on:click
						{status}
						{statusData}
						params={item.params}
						hierarchy={item.children}
						expanded={true}
						depth={depth + 1}
					/>
				{:else}
					<div class="statusRow flex flex-row flex-nowrap">
						<!--MenuItemStatusItem data={statusData[item.id]} /-->
						<a
							class={item.id === $shotID ? 'bg-neutral-500' : ''}
							on:click
							data-sveltekit-preload-data="off"
							style="padding-left: {depth * 0.5}rem;"
							href="{item.params.p},{item.id}">{item.params.name[$language]}</a
						>
					</div>
				{/if}
			</li>
		{/each}
	</ul>
{/if}

<style>
	.statusRow {
		width: 1280px;
	}

	ul {
		list-style: none;
	}

	li {
		padding: 0.1em 0;
	}
</style>
