<script lang="ts">
  import type { IStatus } from "../types/interface";

  export let data: IStatus = {} as IStatus;

  let statusOK = "bg-green-400";
  let statusWarn = "bg-orange-300";
  let statusCritical = "bg-red-500";
</script>

<div class="statusItems relative ml-1 {data.isMaster ? 'bg-green-900' : ''}">
  <span class={data.cameraPivotPoint ? statusOK : statusCritical}
    ><div class="absolute">cPivot</div>
  </span>

  <span class={data.cameraFov ? statusOK : statusCritical}
    ><div class="absolute">cFOV</div>
  </span>

  <span class={data.setEnabled ? statusOK : statusCritical}
    ><div class="absolute">setEnabled</div>
  </span>

  <span class={data.animGraph ? statusOK : statusCritical}
    ><div class="absolute">animGraph</div>
  </span>

  <span class="mx-1/2" />

  <span class={data.load ? statusOK : statusWarn}
    ><div class="absolute">load</div>
  </span>

  <span class={data.env ? statusOK : statusWarn}
    ><div class="absolute">env</div>
  </span>

  <span class={data.EnvSphere ? statusOK : statusWarn}
    ><div class="absolute">EnvSphere</div>
  </span>


  <span class={data.hotspots ? statusOK : statusWarn}
    ><div class="absolute">hotspots</div>
  </span>
  <span class={data.timeline ? statusOK : statusWarn}
    ><div class="absolute">timeline</div>
  </span>
  <span class={data.cameraDistance ? statusOK : statusWarn}
    ><div class="absolute">cDist</div>
  </span>

  <span class={data.cameraYaw ? statusOK : statusWarn}
    ><div class="absolute">cYaw</div>
  </span>

  <span class={data.cameraPitch ? statusOK : statusWarn}
    ><div class="absolute">cPitch</div>
  </span>

  <span class={data.background ? statusOK : statusWarn}
    ><div class="absolute">background</div>
  </span>
</div>

<style lang="scss">
  .statusItems {
    display: inline;
    & span {
      cursor: pointer;
      display: inline-block;
      // font-size: 0.7rem;
      min-width:  12px;
      min-height: 12px;
      //overflow: hidden;
      & div {
        display: none;
        background-color: inherit;
      }
      &:hover {
        & div {
          display: block;
          bottom: 1rem;
          z-index: 100;
          padding: 0.2rem;
          @apply text-lg text-neutral-900 border border-neutral-900;
          
        }
      }
    }
  }
</style>
