<script lang="ts">
	import { shotDataEditable } from '../store';
	import type { IShot } from '../types/interface';
	import cloneDeep from 'lodash.clonedeep';
	import get from 'lodash.get';
	import set from 'lodash.set';
	import unset from 'lodash.unset';
	import { createEventDispatcher } from 'svelte';
	export let editable: boolean = false;
	export let shotData: IShot;
	export let expanded = false;

	let data: IShot = {
		animation: { env: { type: 'env', keys: [{ env: { skyboxIntensity: 1 } }] } }
	};

	$: shotData, updateData();

	const dispatch = createEventDispatcher();

	function updateData() {
		if (editable) {
			data = {
				animation: get($shotDataEditable, 'animation')
			};
		} else {
			data = {
				animation: get(shotData, 'animation')
			};
		}
	}

	function initialiseData() {
		if (
			typeof data?.animation?.env === 'object' &&
			!Array.isArray(data?.animation?.env) &&
			data?.animation?.env != null
		) {
			// is object already
			return;
		}

		data = {
			animation: { env: { type: 'env', keys: [{ env: { skyboxIntensity: 1 } }] } }
		};
	}

	function disinherit() {
		if (data?.animation?.env?.disinherit != null) {
			initialiseData();
		} else {
			initialiseData();
			delete data.animation.env;
			data.animation.env = {};
			data.animation.env.disinherit = true;
		}
		data = data;
	}

	function handleSkyboxIntensity(val) {
		if (!data?.animation?.env?.keys[0]?.env?.skyboxIntensity === null) {
			initialiseData();
		}
		console.info(val);
		data.animation.env.keys[0].env.skyboxIntensity = Number(val);
		data = data;
	}

	function deleteData() {
		data = {
			animation: { env: undefined }
		};
	}

	function commit() {
		if (!editable) {
			return;
		}
		const c = cloneDeep($shotDataEditable);

		set(c, 'animation.env', data.animation.env);
		shotDataEditable.set(c);
	}
</script>

<div class="">
	<strong
		class="block text-xs font-medium uppercase text-gray-400"
		on:click={() => dispatch('expand')}
	>
		env
	</strong>
	{#if expanded}
		<div class="bg-gray-500 p-2">
			<span
				class="block text-xs cursor-pointer text-red-300 hover:text-red-200"
				on:click={deleteData}
			>
				delete
			</span>

			<span
				class="block text-xs cursor-pointer {data?.animation?.env?.disinherit
					? 'text-red-300'
					: 'text-gray-300'}"
				on:click={disinherit}
			>
				disinherit
			</span>

			{#if data?.animation?.env && Array.isArray(data?.animation?.env?.keys) && data?.animation?.env?.keys[0]?.env?.skyboxIntensity != null}
				<label class="text-gray-300 text-xs flex flex-row items-center">
					<pre class="inline text-gray-400 text-xs mr-1">number</pre>
					Y
					<input
						id="skyboxIntensity"
						step="0.1"
						type="number"
						placeholder="not set"
						bind:value={data.animation.env.keys[0].env.skyboxIntensity}
						class="my-1 w-full rounded-md border-gray-200 bg-gray-500 shadow-sm text-xs text-green-200 text-right"
						on:change={(e) => handleSkyboxIntensity(e.target.value)}
					/>
				</label>
			{:else}
				<span class="text-xs cursor-pointer" on:click={initialiseData}>no data, initialise</span>
			{/if}
			{#if data && editable}
				<span
					class="block cursor-pointer text-sm text-green-400 hover:text-green-200"
					on:click={commit}>commit</span
				>
			{/if}
		</div>
	{/if}
</div>
