<script lang="ts">
	export let shotName = 'shotname';
</script>

<div>
	<label for="UserEmail" class="block text-xs font-medium text-gray-700"> Shot </label>

	<input
		id="shotname"
		type="text"
		readonly={true}
    placeholder="shotname"
		value={shotName}
		class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
	/>
</div>
