<script lang="ts">
	import { shotDataEditable } from '../store';
	import type { IShot, IAnimGraphTrigger } from '../types/interface';

	import get from 'lodash.get';
	import set from 'lodash.set';
	import cloneDeep from 'lodash.clonedeep';
	import { createEventDispatcher } from 'svelte';
	export let editable: boolean = false;
	export let shotData: IShot;
	export let expanded = false;
	const dispatch = createEventDispatcher();
	let data: IAnimGraphTrigger | 'disinherit' | undefined;

	$: shotData, updateData();

	function updateData() {
		if (editable) {
			data = get($shotDataEditable, 'animGraph');
		} else {
			data = get(shotData, 'animGraph');
		}
	}

	function handleTriggerData(
		animGraphName: string,
		index: number,
		key: string,
		value: string | number,
		isNumber: boolean = false
	) {
		if (isNumber) {
			data[animGraphName][index][key] = Number(value);
		} else {
			data[animGraphName][index][key] = value;
		}
		data = data;
	}

	function handleAddKeyframe(animGraphName: string) {
		data[animGraphName].push({});
		data = data;
	}

	function handleRemoveKeyframe(animGraphName: string, index: number) {
		data[animGraphName].splice(index, 1);

		if (!data[animGraphName].length) {
			// delete the key from oject
			delete data[animGraphName];
		}

		data = data;
	}

	function handleAddGraph() {
		if (typeof data === 'object' && !Array.isArray(data) && data !== null) {
			// is object. If new temp data already exists. we dont want to overwrite it.
			if (data.NewArmatureName) {
				return;
			}
			null;
		} else {
			// not object
			data = {};
		}
		// Initialise with temp data
		data['NewArmatureName'] = [{ name: 'animation name', speed: 1, crossfade: 100 }];

		commit();
	}

	function setGraphName(oldName: string, newName: string) {
		if (typeof data !== 'object' || Array.isArray(data) || data == null) {
			return;
		}
		if (oldName !== newName) {
			// Object.defineProperty(data, newName, Object.getOwnPropertyDescriptor(data, oldName));
			// delete data[oldName];

			console.info(data);
			const d = cloneDeep(data[oldName]);
			data[newName] = d;
			delete data[oldName];
		}
	}

	function disinherit() {
		data = 'disinherit';
	}

	function deleteAnimGraph() {
		data = undefined;
	}

	function commit() {
		if (!editable) {
			return;
		}
		const c = cloneDeep($shotDataEditable);
		set(c, 'animGraph', data);
		shotDataEditable.set(c);
	}
</script>

<div class="">
	<strong
		class="block text-xs font-medium uppercase text-gray-400 cursor-pointer"
		on:click={() => dispatch('expand')}
	>
		AnimGraph
	</strong>
	{#if expanded}
		<div class="bg-gray-500 p-2">
			{#if !data}
				<span class="text-xs text-gray-300">No data</span>
			{/if}
			<span
				class="text-xs cursor-pointer text-red-300 hover:text-red-200"
				on:click={deleteAnimGraph}
			>
				delete
			</span>
			<span
				on:click={disinherit}
				class="{data === 'disinherit'
					? 'text-red-300'
					: 'text-gray-300'} block cursor-pointer border-b boder-1 text-xs pb-1 mb-2"
			>
				disinherit
			</span>

			{#if typeof data === 'object' && !Array.isArray(data) && data !== null}
				{#each Object.keys(data) as anm}
					<label class="text-gray-300 text-xs">
						<pre class="inline text-gray-400 text-xs">string</pre>
						Armature name
						<input
							id="armature"
							type="text"
							placeholder={anm}
							class="my-1 p-1 w-full rounded-md border-gray-200 bg-gray-100 shadow-sm text-xs text-gray-500"
							on:change={(e) => {
								setGraphName(anm, e.target.value);
							}}
						/>
					</label>

					{#each data[anm] as keyframe, i}
						<span class=" text-xs text-gray-300"> keyframe {i} </span>
						{#if editable}
							<span
								on:click={() => handleRemoveKeyframe(anm, i)}
								class="text-xs text-red-300 hover:text-red-200 cursor-pointer"
							>
								delete
							</span>
						{/if}
						<label class="text-gray-300 text-xs flex flex-row items-center">
							<pre class="inline text-gray-400 text-xs mr-1">arm@anim</pre>
							name
							<input
								id="speed"
								step="0.5"
								type="text"
								placeholder="not set"
								bind:value={data[anm][i].name}
								class="my-1 w-full rounded-md border-gray-200 bg-gray-500 shadow-sm text-xs text-green-200 text-right"
								on:keyup={(e) => handleTriggerData(anm, i, 'name', e.target.value)}
							/>
						</label>

						<label class="text-gray-300 text-xs flex flex-row items-center">
							<pre class="inline text-gray-400 text-xs mr-1">number</pre>
							speed
							<input
								id="speed"
								step="0.5"
								type="number"
								placeholder="not set"
								bind:value={data[anm][i].speed}
								class="my-1 w-full rounded-md border-gray-200 bg-gray-500 shadow-sm text-xs text-green-200 text-right"
								on:keyup={(e) => handleTriggerData(anm, i, 'speed', e.target.value, true)}
							/>
						</label>

						<label class="text-gray-300 text-xs flex flex-row items-center">
							<pre class="inline text-gray-400 text-xs mr-1">number</pre>
							crossfade
							<input
								id="speed"
								step="0.5"
								type="number"
								placeholder="not set"
								bind:value={data[anm][i].crossfade}
								class="my-1 w-full rounded-md border-gray-200 bg-gray-500 shadow-sm text-xs text-green-200 text-right"
								on:keyup={(e) => handleTriggerData(anm, i, 'crossfade', e.target.value, true)}
							/>
						</label>

						{#if editable}
							<span
								on:click={() => handleAddKeyframe(anm)}
								class="block text-xs text-amber-300 hover:text-amber-200 cursor-pointer"
							>
								+ keyframe
							</span>
							<div class="w-full my-1 border-b border-gray-300" />
						{/if}
					{/each}

					<div class="w-full my-2 border-b border-2 border-gray-200" />
				{/each}
			{/if}

			{#if editable}
				<span class="cursor-pointer text-sm text-green-400 hover:text-green-200" on:click={commit}
					>commit</span
				>
				<span
					class="block mt-2 text-xs text-amber-300 hover:text-amber-200 cursor-pointer"
					on:click={() => handleAddGraph()}
				>
					ADD Graph
				</span>
			{/if}
		</div>
	{/if}
</div>
