<script lang="ts">
	import { shotDataEditable } from '../store';
	import type { IShot } from '../types/interface';
	import cloneDeep from 'lodash.clonedeep';
	import get from 'lodash.get';
	import set from 'lodash.set';
	export let editable: boolean = false;
	export let shotData: IShot;
	import { createEventDispatcher } from 'svelte';
	export let expanded = false;
	const dispatch = createEventDispatcher();

	let data: IShot = { setEnabled: [], enabledState: true };

	//let collections:Array<string>=[];

	$: shotData, updateData();

	function updateData() {
		if (editable) {
			data = {
				setEnabled: get($shotDataEditable, 'setEnabled'),
				enabledState: get($shotDataEditable, 'enabledState')
			};
			//collections = get($shotDataEditable, 'setEnabled')
		} else {
			data = {
				setEnabled: get(shotData, 'setEnabled'),
				enabledState: get(shotData, 'enabledState')
			};
			//collections = get(shotData, 'setEnabled')
		}
	}

	function handleEnabledObjects(val) {
		data.setEnabled = val.split(',');
		data = data;
	}

	function handleEnabledState() {
		data.enabledState = !data.enabledState;
		data = data;
	}

	function disinherit() {
		if (data.setEnabled === 'disinherit') {
			data = { setEnabled: [], enabledState: true };
		} else {
			data = { setEnabled: 'disinherit', enabledState: 'disinherit' };
		}
		data = data;
	}

	function deleteData() {
		data = {
			setEnabled: undefined,
			enabledState: undefined
		};
	}

	function commit() {
		if (!editable) {
			return;
		}
		const c = cloneDeep($shotDataEditable);

		set(c, 'setEnabled', data.setEnabled);
		set(c, 'enabledState', data.enabledState);
		shotDataEditable.set(c);
	}
</script>

<div class="">
	<strong
		class="block text-xs font-medium uppercase text-gray-400"
		on:click={() => dispatch('expand')}
	>
		enabled Objects
	</strong>
	{#if expanded}
		<div class="bg-gray-500 p-2">
			<span
				class="block text-xs cursor-pointer text-red-300 hover:text-red-200"
				on:click={deleteData}
			>
				delete
			</span>

			<span
				class="block text-xs cursor-pointer {data?.setEnabled === 'disinherit'
					? 'text-red-300'
					: 'text-gray-300'}"
				on:click={disinherit}
			>
				disinherit
			</span>

			{#if data?.setEnabled != 'disinherit'}
				<label class="text-gray-300 text-xs">
					<pre class="inline text-gray-400 text-xs">Array string</pre>
					Collections
					<input
						id="collections"
						type="text"
						placeholder="no data"
						bind:value={data.setEnabled}
						class="my-1 p-1 w-full rounded-md border-gray-200 bg-gray-100 shadow-sm text-xs text-gray-500"
						on:change={(e) => {
							handleEnabledObjects(e.target.value);
						}}
					/>
				</label>

				<span
					class="text-xs cursor-pointer {data.enabledState ? 'text-green-300' : 'text-gray-300'}"
					on:click={handleEnabledState}
				>
					<pre class="inline text-gray-400 text-xs">boolean</pre>
					{data.enabledState == null ? 'no data' : ''} enabledState
				</span>
			{/if}
			{#if data && editable}
				<span
					class="block cursor-pointer text-sm text-green-400 hover:text-green-200"
					on:click={commit}>commit</span
				>
			{/if}
		</div>
	{/if}
</div>
