<script lang="ts">
	import { shotDataEditable } from '../store';
	import type { IShot, IHotspotData, IHotspotModifier } from '../types/interface';
	import { cameraValues } from '../store';
	import InputNumber from './inputs/InputNumber.svelte';
	import InputString from './inputs/InputString.svelte';
	import InputStringArray from './inputs/InputStringArray.svelte';
	import ucxMeshMapping from '../../../pre/data/mv_ucx_mesh_mapping.json';
	import InputBoolean from './inputs/InputBoolean.svelte';
	import cloneDeep from 'lodash.clonedeep';
	import get from 'lodash.get';
	import set from 'lodash.set';
	import unset from 'lodash.unset';
	import { createEventDispatcher } from 'svelte';
	export let editable: boolean = false;
	export let shotData: IShot;
	export let expanded = false;
	let data: IShot = { load: [] };

	$: shotData, updateData();

	const dispatch = createEventDispatcher();

	function updateData() {
		if (editable) {
			data = {
				load: get($shotDataEditable, 'load')
			};
		} else {
			data = {
				load: get(shotData, 'load')
			};
		}
	}

	function handle(val) {
		data.load = val.split(',');
		data = data;
	}

	function deleteData() {
		data = {
			load: undefined
		};
	}

	function commit() {
		if (!editable) {
			return;
		}
		const c = cloneDeep($shotDataEditable);

		set(c, 'load', data.load);

		shotDataEditable.set(c);
	}
</script>

<div class="">
	<strong
		class="block text-xs font-medium uppercase text-gray-400 cursor-pointer"
		on:click={() => dispatch('expand')}
	>
		Load
	</strong>
	{#if expanded}
		<div class="bg-gray-500 p-2">
			<span
				class="block text-xs cursor-pointer text-red-300 hover:text-red-200"
				on:click={deleteData}
			>
				delete
			</span>

			<label class="text-gray-300 text-xs">
				<pre class="inline text-gray-400 text-xs">string</pre>
				gltf name
				<input
					id="load"
					type="text"
					placeholder="not set"
					bind:value={data.load}
					class="my-1 w-full rounded-md border-gray-200 bg-gray-500 shadow-sm text-xs text-green-200"
					on:keyup={handle}
				/>
			</label>
			{#if data && editable}
				<span
					class="block cursor-pointer text-sm text-green-400 hover:text-green-200"
					on:click={commit}>commit</span
				>
			{/if}
		</div>
	{/if}
</div>
