<script lang="ts">
	import type { IShot } from '../types/interface';
	import { shotDataEditable } from '../store';
	import { createEventDispatcher } from 'svelte';
	import cloneDeep from 'lodash.clonedeep';
	import get from 'lodash.get';
	import set from 'lodash.set';
	export let editable: boolean = false;
	export let shotData: IShot;
	export let expanded = false;
	const dispatch = createEventDispatcher();

	let data: IShot = { background: { colors: [], X: 0, Y: 0 } };

	$: shotData, updateData();

	function updateData() {
		if (editable) {
			data = {
				background: {
					colors: get($shotDataEditable, 'background.colors'),
					X: get($shotDataEditable, 'background.X'),
					Y: get($shotDataEditable, 'background.Y')
				}
			};
		} else {
			data = {
				background: {
					colors: get(shotData, 'background.colors'),
					X: get(shotData, 'background.X'),
					Y: get(shotData, 'background.Y')
				}
			};
		}
	}

	function disinherit() {
		if (data.background === 'disinherit') {
			data = { background: { colors: [], X: 0, Y: 0 } };
		} else {
			data = { background: 'disinherit' };
		}
		data = data;
	}

	function deleteData() {
		data = {
			background: undefined
		};
	}

	function initialiseData() {
		if (
			typeof data.background === 'object' &&
			!Array.isArray(data.background) &&
			data.background != null
		) {
			// is object already
			return;
		}

		data = { background: { colors: [], X: 0, Y: 0 } };
	}

	function handleColors(val) {
		initialiseData();
		data.background.colors = val.split(',');
		data = data;
	}

	function handleColorX(val) {
		initialiseData();
		data.background.X = Number(val);
		data = data;
	}

	function handleColorY(val) {
		initialiseData();
		data.background.Y = Number(val);
		data = data;
	}

	function commit() {
		if (!editable) {
			return;
		}
		const c = cloneDeep($shotDataEditable);

		set(c, 'background', data.background);
		shotDataEditable.set(c);
	}
</script>

<div class="">
	<strong
		class="block text-xs font-medium uppercase text-gray-400"
		on:click={() => dispatch('expand')}
	>
		Background
	</strong>
	{#if expanded}
		<div class="bg-gray-500 p-2">
			<span
				class="block text-xs cursor-pointer text-red-300 hover:text-red-200"
				on:click={deleteData}
			>
				delete
			</span>

			<span
				class="block text-xs cursor-pointer {data?.background === 'disinherit'
					? 'text-red-300'
					: 'text-gray-300'}"
				on:click={disinherit}
			>
				disinherit
			</span>

			{#if typeof data.background === 'object' && !Array.isArray(data.background) && data.background != null}
				<label class="text-gray-300 text-xs flex flex-row items-center">
					<pre class="inline text-gray-400 text-xs mr-1">number</pre>
					X
					<input
						id="colorX"
						step="1"
						type="number"
						placeholder="not set"
						bind:value={data.background.X}
						class="my-1 w-full rounded-md border-gray-200 bg-gray-500 shadow-sm text-xs text-green-200 text-right"
						on:keyup={(e) => handleColorX(e.target.value)}
					/>
				</label>

				<label class="text-gray-300 text-xs flex flex-row items-center">
					<pre class="inline text-gray-400 text-xs mr-1">number</pre>
					Y
					<input
						id="colorY"
						step="1"
						type="number"
						placeholder="not set"
						bind:value={data.background.Y}
						class="my-1 w-full rounded-md border-gray-200 bg-gray-500 shadow-sm text-xs text-green-200 text-right"
						on:keyup={(e) => handleColorY(e.target.value)}
					/>
				</label>

				<!--InputStringArray {shotData} {editable} label="Colors" datapath="background.colors" /-->

				<label class="text-gray-300 text-xs">
					<pre class="inline text-gray-400 text-xs">Array string</pre>
					Colors
					<input
						id="colors"
						type="text"
						placeholder="no data"
						bind:value={data.background.colors}
						class="my-1 p-1 w-full rounded-md border-gray-200 bg-gray-100 shadow-sm text-xs text-gray-500"
						on:change={(e) => {
							handleColors(e.target.value);
						}}
					/>
				</label>
			{/if}
			{#if data && editable}
				<span
					class="block cursor-pointer text-sm text-green-400 hover:text-green-200"
					on:click={commit}>commit</span
				>
			{/if}
		</div>
	{/if}
</div>
