<script lang="ts">
	import Shotname from './Shotname.svelte';
	import type { IShot } from '../types/interface';
	import ShotformHotspots from './ShotformHotspots.svelte';
	import SaveButton from './inputs/SaveButton.svelte';
	import ShotformCamera from './ShotformCamera.svelte';
	import ShotformLoad from './ShotformLoad.svelte';
	import { cameraValues } from '../store';
	import ShotformBackground from './ShotformBackground.svelte';
	import ShotformAnimGraph from './ShotformAnimGraph.svelte';
	import ShotformEnabled from './ShotformEnabled.svelte';
	import ShotformFade from './ShotformFade.svelte';
	import ShotformEnv from './ShotformEnv.svelte';
	export let shotName: string;
	export let shotData: IShot;
	let expanded = false;

	let expandedCamera = false;
	let expandedEnv = false;
	let expandedLoad = false;
	let expandedAnimGraph = false;
	let expandedEnabled = false;
	let expandedFade = false;
	let expandedBackground = false;
	let expandedHotspots = false;

	$: expanded, handleExpanded();

	function handleExpanded() {
		if (expanded) {
			expandedCamera = true;
			expandedEnv = true;
			expandedLoad = true;
			expandedAnimGraph = true;
			expandedEnabled = true;
			expandedFade = true;
			expandedBackground = true;
			expandedHotspots = true;
		} else {
			expandedCamera = false;
			expandedEnv = false;
			expandedLoad = false;
			expandedAnimGraph = false;
			expandedEnabled = false;
			expandedFade = false;
			expandedBackground = false;
			expandedHotspots = false;
		}
	}
</script>

<div class="flow-root select-none" id="shotform">
	<nav aria-label="Main Nav" class="flex flex-col space-y-2">
		<div class="text-xs font-medium uppercase text-gray-400">
			<div class="">
				<span>Yaw: {$cameraValues.yaw} </span>
				<span>Pitch: {$cameraValues.pitch} </span>
				<span>Distance: {$cameraValues.distance} </span>
				<span>fov: {$cameraValues.fov} </span>
			</div>
			<!--span>Undo</span> <span>Redo</span-->
		</div>
		<Shotname {shotName} />
		{#if shotData}
			<SaveButton />
			<div class="shotformGrid h-[75vh] overflow-scroll">
				<span class="text-xs">Raw Data</span>
				<span class="text-xs">Result</span>
				<span
					class="cursor-pointer text-xs text-gray-400 hover:text-gray-300"
					on:click={() => (expanded = !expanded)}
				>
					+expand all</span
				>
				<span />
				<ShotformLoad
					editable={true}
					{shotData}
					expanded={expandedLoad}
					on:expand={() => (expandedLoad = !expandedLoad)}
				/>
				<ShotformLoad
					{shotData}
					expanded={expandedLoad}
					on:expand={() => (expandedLoad = !expandedLoad)}
				/>

				<ShotformAnimGraph
					editable={true}
					{shotData}
					expanded={expandedAnimGraph}
					on:expand={() => (expandedAnimGraph = !expandedAnimGraph)}
				/>
				<ShotformAnimGraph
					{shotData}
					expanded={expandedAnimGraph}
					on:expand={() => (expandedAnimGraph = !expandedAnimGraph)}
				/>

				<ShotformCamera
					editable={true}
					{shotData}
					expanded={expandedCamera}
					on:expand={() => (expandedCamera = !expandedCamera)}
				/>
				<ShotformCamera
					{shotData}
					expanded={expandedCamera}
					on:expand={() => (expandedCamera = !expandedCamera)}
				/>

				<ShotformEnv
					editable={true}
					{shotData}
					expanded={expandedEnv}
					on:expand={() => (expandedEnv = !expandedEnv)}
				/>
				<ShotformEnv
					{shotData}
					expanded={expandedEnv}
					on:expand={() => (expandedEnv = !expandedEnv)}
				/>

				<ShotformEnabled
					editable={true}
					{shotData}
					expanded={expandedEnabled}
					on:expand={() => (expandedEnabled = !expandedEnabled)}
				/>
				<ShotformEnabled
					{shotData}
					expanded={expandedEnabled}
					on:expand={() => (expandedEnabled = !expandedEnabled)}
				/>

				<ShotformFade
					editable={true}
					{shotData}
					expanded={expandedFade}
					on:expand={() => (expandedFade = !expandedFade)}
				/>
				<ShotformFade
					{shotData}
					expanded={expandedFade}
					on:expand={() => (expandedFade = !expandedFade)}
				/>

				<ShotformBackground
					editable={true}
					{shotData}
					expanded={expandedBackground}
					on:expand={() => (expandedBackground = !expandedBackground)}
				/>
				<ShotformBackground
					{shotData}
					expanded={expandedBackground}
					on:expand={() => (expandedBackground = !expandedBackground)}
				/>

				<ShotformHotspots
					editable={true}
					{shotData}
					expanded={expandedHotspots}
					on:expand={() => (expandedHotspots = !expandedHotspots)}
				/>
				<ShotformHotspots
					{shotData}
					expanded={expandedHotspots}
					on:expand={() => (expandedHotspots = !expandedHotspots)}
				/>
			</div>
		{/if}
	</nav>
</div>

<style lang="scss">
	#shotform {
		padding: 1%;
		background-color: white;
	}

	.shotformGrid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}
</style>
