<script lang="ts">
	import type { IShot, IHotspotData, IHotspotModifier } from '../types/interface';
	import { currentModel, shotDataEditable } from '../store';
	import InputNumber from './inputs/InputNumber.svelte';
	import InputString from './inputs/InputString.svelte';
	import InputStringArray from './inputs/InputStringArray.svelte';
	import ucxMeshMapping from '../../../pre/data/mv_ucx_mesh_mapping.json';
	import InputBoolean from './inputs/InputBoolean.svelte';
	import { createEventDispatcher } from 'svelte';
	import cloneDeep from 'lodash.clonedeep';

	export let expanded = false;
	export let editable: boolean = false;
	export let shotData: IShot;
	let data: IShot;
	const dispatch = createEventDispatcher();
	$: $shotDataEditable, shotData, updateData();

	function updateData() {
		if (editable) {
			data = $shotDataEditable;
		} else {
			data = shotData;
			data = data;
		}
	}
	function handleModifier() {
		if (!editable) {
			return;
		}

		// Add or remove modifier object.

		// If exists -> delete
		if (data?.hotspotsMeta?.modifier) {
			delete data.hotspotsMeta.modifier;
		} else {
			// If not exist -> add
			if (!data?.hotspotsMeta) {
				data.hotspotsMeta = {};
			}

			const newHotspotModifier: IHotspotModifier = {};
			data.hotspotsMeta.modifier = newHotspotModifier;
		}
		shotDataEditable.set(data);
	}

	function handle(ucxName) {
		if (!editable) {
			return;
		}

		if (!data?.hotspots) {
			// No hotspots at all. -> add hotspots object
			data.hotspots = {};
			console.info('Added empty Hotspots object');
		}

		const newHotspot: IHotspotData = {
			content: ucxName.replace('UCX_', ''),
			classes: ['spot', 'neutral', 'small', 'top', 'left'],
			expanded: false
		};

		// check if ucxName in data.hotspots
		if (ucxName in data.hotspots) {
			// -> remove
			delete data.hotspots[ucxName];
		} else {
			data.hotspots[ucxName] = newHotspot;
		}
		shotDataEditable.set(data);
	}
</script>

<div class="">
	<strong
		class="block text-xs font-medium uppercase text-gray-400"
		on:click={() => dispatch('expand')}
	>
		Hotspots
	</strong>
	{#if expanded}
		<div class="bg-gray-500">
			{#if editable}
				<InputBoolean label="disinherit" {editable} {shotData} datapath="hotspotsMeta.disinherit" />
			{:else}
				<div class="bg-gray-500 w-full h-10" />
			{/if}
			{#if editable}
				<span on:click={handleModifier} class="text-xs cursor-pointer"
					>Modifier <pre class="inline text-gray-400 text-xs">object</pre></span
				>
			{:else}
				<div class="bg-gray-500 w-full h-10" />
			{/if}
			{#if editable}
				{#if data?.hotspotsMeta?.modifier}
					<div class="px-2">
						<InputBoolean
							label="expanded"
							{editable}
							{shotData}
							datapath="hotspotsMeta.modifier.expanded"
						/>
					</div>
				{:else}
					<div class="bg-gray-500 w-full h-10" />
				{/if}
			{/if}
		</div>

		<ul class="mt-2 space-y-4">
			{#if ucxMeshMapping && ucxMeshMapping[$currentModel]}
				{#each Object.keys(ucxMeshMapping[$currentModel]) as ucxName}
					{#if ucxName.startsWith('UCX_')}
						<li
							class="text-xs bg-gray-100 p-2 {data?.hotspots && ucxName in data?.hotspots
								? 'text-green-600'
								: 'text-gray-400'}"
						>
							<span class="cursor-pointer" on:click={() => handle(ucxName)}
								>{ucxName}
								<pre class="inline text-gray-400 text-xs">object</pre></span
							>
							{#if data?.hotspots && ucxName in data?.hotspots}
								<div class="flex flex-col">
									<InputString
										label="hotspot content"
										{editable}
										{shotData}
										datapath="hotspots.{ucxName}.content"
										help=""
									/>
									<InputBoolean
										label="is expanded"
										{editable}
										{shotData}
										datapath="hotspots.{ucxName}.expanded"
										help="False: show dot only, True: show Hotspot Title"
									/>
									<InputStringArray
										{shotData}
										label="classes"
										{editable}
										datapath="hotspots.{ucxName}.classes"
										help="Comma-separated list of classes to add to hotspots"
									/>
								</div>
							{/if}
						</li>
					{/if}
				{/each}
			{/if}
		</ul>
	{/if}
</div>

<style lang="scss">
	li {
		@apply block rounded-lg bg-gray-100 px-4 py-2 text-sm font-medium;
	}
</style>
