<script lang="ts">
	import type { IShot, IHotspotData, IHotspotModifier } from '../types/interface';
	import { cameraValues } from '../store';
	import InputNumber from './inputs/InputNumber.svelte';
	import InputString from './inputs/InputString.svelte';
	import InputStringArray from './inputs/InputStringArray.svelte';
	import ucxMeshMapping from '../../../pre/data/mv_ucx_mesh_mapping.json';
	import InputBoolean from './inputs/InputBoolean.svelte';
	import cloneDeep from 'lodash.clonedeep';
	import { createEventDispatcher } from 'svelte';
	export let editable: boolean = false;
	export let shotData: IShot;
	export let expanded = false;

	const dispatch = createEventDispatcher();
</script>

<div class="">
	<strong class="block text-xs font-medium uppercase text-gray-400 cursor-pointer" on:click={()=>dispatch('expand')}> Camera </strong>
	{#if expanded}
		<div class="bg-gray-500 p-2">
			<InputBoolean
				label="disinherit"
				{editable}
				{shotData}
				datapath="animation.Camera.disinherit"
			/>
			<InputNumber
				deletable={true}
				{shotData}
				{editable}
				label="FOV"
				setableFromScene={true}
				sceneValue={$cameraValues.fov}
				datapath="animation.Camera.keys[0].camera.fov"
			/>

			<InputNumber
				deletable={true}
				{shotData}
				{editable}
				step="0.1"
				label="X"
				setableFromScene={true}
				sceneValue={$cameraValues.x}
				datapath="animation.Camera.keys[0].camera.pivotPoint.x"
			/>
			<InputNumber
				deletable={true}
				{shotData}
				{editable}
				step="0.1"
				label="Y"
				setableFromScene={true}
				sceneValue={$cameraValues.y}
				datapath="animation.Camera.keys[0].camera.pivotPoint.y"
			/>
			<InputNumber
				deletable={true}
				{shotData}
				{editable}
				step="0.1"
				label="Z"
				setableFromScene={true}
				sceneValue={$cameraValues.z}
				datapath="animation.Camera.keys[0].camera.pivotPoint.z"
			/>

			<InputNumber
				deletable={true}
				{shotData}
				{editable}
				step="0.1"
				label="Distance"
				setableFromScene={true}
				sceneValue={$cameraValues.distance}
				datapath="animation.Camera.keys[0].camera.float.distance"
			/>
			<InputNumber
				deletable={true}
				{shotData}
				{editable}
				step="0.1"
				label="Yaw"
				setableFromScene={true}
				sceneValue={$cameraValues.yaw}
				datapath="animation.Camera.keys[0].camera.float.yaw"
			/>
			<InputNumber
				deletable={true}
				{shotData}
				{editable}
				step="0.1"
				label="Pitch"
				setableFromScene={true}
				sceneValue={$cameraValues.pitch}
				datapath="animation.Camera.keys[0].camera.float.pitch"
			/>
		</div>
	{/if}
</div>
