<script lang="ts">
	import { shotDataEditable } from '../store';
	import type { IShot } from '../types/interface';
	import cloneDeep from 'lodash.clonedeep';
	import get from 'lodash.get';
	import set from 'lodash.set';
	import { createEventDispatcher } from 'svelte';
	export let editable: boolean = false;
	export let shotData: IShot;
	export let expanded = false;
	const dispatch = createEventDispatcher();

	$: shotData, updateData();

	let data: IShot = { setEnabled: true, fadeDuration: 20, fadeCollections: [], fadeAmount: 0.1 };

	function updateData() {
		if (editable) {
			data = {
				setEnabled: get($shotDataEditable, 'setEnabled'),
				fadeDuration: get($shotDataEditable, 'fadeDuration'),
				fadeCollections: get($shotDataEditable, 'fadeCollections'),
				fadeAmount: get($shotDataEditable, 'fadeAmount')
			};
			//collections = get($shotDataEditable, 'setEnabled')
		} else {
			data = {
				setEnabled: get(shotData, 'setEnabled'),
				fadeDuration: get(shotData, 'fadeDuration'),
				fadeCollections: get(shotData, 'fadeCollections'),
				fadeAmount: get(shotData, 'fadeAmount')
			};
			//collections = get(shotData, 'setEnabled')
		}
	}


	function handleFadeObjects(val) {
		data.fadeCollections = val.split(',');
		data = data;
	}

	function handleFadeAmount(val) {
		data.fadeAmount = Number(val);
		data = data;
	}

	function handleFadeDuration(val) {
		data.fadeDuration = Number(val);
		data = data;
	}

	function deleteData() {
		data = {
			fadeDuration: undefined,
			fadeCollections: undefined,
			fadeAmount: undefined
		};
	}

	function commit() {
		if (!editable) {
			return;
		}
		const c = cloneDeep($shotDataEditable);

		set(c, 'fadeDuration', data.fadeDuration);
		set(c, 'fadeCollections', data.fadeCollections);
		set(c, 'fadeAmount', data.fadeAmount);
		shotDataEditable.set(c);
	}
</script>

<div class="">
	<strong
		class="block text-xs font-medium uppercase text-gray-400"
		on:click={() => dispatch('expand')}
	>
		Fade
	</strong>
	<span class="text-xs text-gray-400"> setEnabled is required</span>
	{#if expanded}
		<div class="bg-gray-500 p-2">
			<span
				class="block text-xs cursor-pointer text-red-300 hover:text-red-200"
				on:click={deleteData}
			>
				delete
			</span>

			{#if data?.setEnabled != 'disinherit'}
				<label class="text-gray-300 text-xs">
					<pre class="inline text-gray-400 text-xs">Array string</pre>
					Collections
					<input
						id="collections"
						type="text"
						placeholder="no data"
						bind:value={data.fadeCollections}
						class="my-1 p-1 w-full rounded-md border-gray-200 bg-gray-100 shadow-sm text-xs text-gray-500"
						on:change={(e) => {
							handleFadeObjects(e.target.value);
						}}
					/>
				</label>

				<label class="text-gray-300 text-xs flex flex-row items-center">
					<pre class="inline text-gray-400 text-xs mr-1">number</pre>
					fadeAmount
					<input
						id="fadeAmount"
						step="0.1"
						type="number"
						placeholder="not set"
						bind:value={data.fadeAmount}
						class="my-1 w-full rounded-md border-gray-200 bg-gray-500 shadow-sm text-xs text-green-200 text-right"
						on:keyup={(e) => handleFadeAmount(e.target.value)}
					/>
				</label>

				<label class="text-gray-300 text-xs flex flex-row items-center">
					<pre class="inline text-gray-400 text-xs mr-1">number</pre>
					fadeDuration
					<input
						id="fadeDuration"
						step="0.5"
						type="number"
						placeholder="not set"
						bind:value={data.fadeDuration}
						class="my-1 w-full rounded-md border-gray-200 bg-gray-500 shadow-sm text-xs text-green-200 text-right"
						on:keyup={(e) => handleFadeDuration(e.target.value)}
					/>
				</label>
			{/if}

			{#if data && editable}
				<span
					class="block cursor-pointer text-sm text-green-400 hover:text-green-200"
					on:click={commit}>commit</span
				>
			{/if}
		</div>
	{/if}
</div>
