/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */


@use './tmp.scss';

@tailwind base;

// Scrollbar see https://scottspence.com/posts/change-scrollbar-color-tailwind-css
/* Firefox */
* {
  scrollbar-width: 11px;
  scrollbar-color: #94a3b8 transparent; // #171717; //thumb, bg
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px #4c5157;
  border: solid 3px transparent;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px #94a3b8;
  // border-radius: 14px;
  border: solid 3px transparent;
}



///

@tailwind components;
@tailwind utilities;

model-viewer::part(default-ar-button) {
  position: fixed;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 100;
}


.shotformhelp {
  position: absolute;
  background-color: orange;
  padding: 0.125rem;
  color: black;
  font-weight: 200;
  display: none;
}

#hotspotLineContainer {
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: block;

  & .hotspotLine {
    stroke: #16a5e6;
    stroke-width: 2;
    stroke-dasharray: 2
  }
}

// background gradient fading
#ezGradientContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  & .ezBG {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}